attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
Cython==0.29.15
dataflow==0.9.5
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
funcsigs==1.0.2
graphviz==0.13.2
idna==2.8
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jpeg4py==0.1.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
kiwisolver==1.1.0
llvmlite==0.31.0
lmdb==0.98
MarkupSafe==1.1.1
matplotlib==2.2.4
mistune==0.8.4
msgpack==0.6.2
msgpack-numpy==0.4.4.3
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4
notebook==6.0.3
numba==0.48.0
numpy==1.16.4
objgraph==3.4.1
opencv-python==4.2.0.32
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.6.7
ptyprocess==0.6.0
pycocotools==2.0.0
pycparser==2.19
Pygments==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-prctl==1.7
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
rarfile==3.1
requests==2.22.0
scipy==1.2.1
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.14.0
tabulate==0.8.6
tensorboardX==2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
urllib3==1.25.8
videofig==1.0.1
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==2.2.0
