[submodule "PaddleNLP/language_representations_kit/ERNIE"]
	path = PaddleNLP/language_representations_kit/ERNIE
	url = https://github.com/PaddlePaddle/ERNIE
[submodule "PaddleRL"]
	path = PaddleRL
	url = https://github.com/PaddlePaddle/PARL
[submodule "PaddleCV/PaddleSeg"]
	path = PaddleCV/PaddleSeg
	url = https://github.com/PaddlePaddle/PaddleSeg
[submodule "AutoDL"]
	path = AutoDL
	url = https://github.com/PaddlePaddle/AutoDL.git
